.nutrition-block-container {
    display: flex; /* Align items horizontally */
    flex-wrap: wrap; /* Ensure blocks wrap on smaller screens */
    justify-content: space-evenly; /* Add spacing between items */
    align-items: flex-start; /* Ensure vertical alignment */
    gap: 20px; /* Adds spacing between blocks */
    margin: 20px 5px 50px 5px; /* Proper top margin to avoid overlap */
    padding: 30px 30px 10px 30px; /* Add padding for spacing */
    background: rgba(255, 255, 255, 0.1); /* Subtle overlay */
    border-radius: 12px; /* Soften edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add depth */
  }
  
  .nutrition-block {
    flex: 1 1 calc(20% - 10px); /* Adjust width dynamically with gap */
    min-width: 210px;
    max-width: 300px;
    height: 400px; /* Adapt height to content */
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    background: transparent; /* Transparent background like main page */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Consistent shadow effect */
    display: flex;
    flex-direction: column; /* Stack content vertically inside the block */
    justify-content: space-between; /* Evenly space content */
    align-items: center; /* Center align text horizontally */
  }
  
  .block button {
    margin-top: 20px;
  }
  
  .booking-form-container {
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  .booking-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .booking-form-container form div {
    margin-bottom: 15px;
  }
  
  .booking-form-container label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .booking-form-container input,
  .booking-form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
  }
  
  .booking-form-container button {
    flex: 1;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #00cc99;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking-form-container button:hover {
    background-color: #009977;
  }